<%- contentFor('main-content') %>

<!-- Write a logic that will dynamically change the content of this page based on controller parameters -->
<!-- for instance we know that the controller passes a variable called title -->
<!--Use this title to change the content of each page based on the route-->
<!--All content should be placed here for now-->
<!--Tomorrow we are going to implement a cleaner dynamic content pages-->
 
<!--This is an example of what you are expected to do here-->

<!--Expense VIEW STARTS HERE -->
<% if (title == 'Create Expense') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Date:<br>
              <input type="date" name="date" placeholder="dd/mm/yyyy" value="date" class="w3-input w3-border w3-round-large">
              <br><br>
              Datails:<br>
              <input type="text" name="detail" placeholder="Enter Details" value="details" class="w3-input w3-border w3-round-large">
              <br>
              Amount:<br>
              <input type="text" name="amount" placeholder="0.00" value="amount" class="w3-input w3-border w3-round-large">
              <br><br>
              Type:<br>
              <select id="sel1" name="type" value="type" class="w3-input w3-border w3-round-large">
                <option value="internal">Internal</option>
                <option value="external">External</option>
                <option value="others">Other</option>
                  </select>
                  <br>
              Category:<br>
                <div>
                     <% categories.forEach(function(category) { %>
                    <input type="checkbox" class='categoryCheckbox' name="category" id="<%= category.id %>" value="<%= category.name %>">
                    <label for="<%= category.name %>"><%= category.name %></label>
                    
                <br/>
               <% }); %>
                 </div>
                <!--<br><br>-->
                <!--Employee:<br>-->
              <input type="hidden" name="employee_id" value="1" class="w3-input w3-border w3-round-large">
               <br><br>
              <input class="btn btn-primary btn-ms" type="submit" value="Submit">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Expense') { %>
     
<% } else if (title == 'Update Expense') { %>
    <div class="col-sm-8">    
        <div class="w3-container w3-card-4 w3-light-grey">
            <form action="/expense/expense/<%= expense.id %>/update" method="post">
              Date:<br>
              <input class="w3-input w3-border w3-round-large" type="text" name="date" placeholder="dd/mm/yyyy" value="<%= expense.date  %>">
              <br>
              Datails:<br>
              <input class="w3-input w3-border w3-round-large" type="text" name="detail" placeholder="Enter Details" value="<%= expense.detail  %>">
              <br>
              Amount:<br>
              <input class="w3-input w3-border w3-round-large" type="text" name="amount" placeholder="0.00" value="<%= expense.amount  %>">
              <br>
              Type:<br>
              <select class="w3-input w3-border w3-round-large" id="sel1" name="sellist1" value="<%= expense.type  %>">
                <option value="internal">Internal</option>
                <option value="external">External</option>
                <option value="others">Other</option>
              </select>
              <br><br>
              Category:<br>
              <div>
                     <% categories.forEach(function(category) { %>
                    <input type="checkbox" class='categoryCheckbox' name="category" id="<%= category.id %>" value="<%= category.name %>">
                    <label for="<%= category.name %>"><%= category.name %></label>
                    
                <br/>
               <% }); %>
                 </div>
                <br><br>
              <input class="btn btn-primary btn-ms" type="submit" value="Update">
            </form>
        </div>
    </div>
<% } else if (title == 'Expense Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single expense</h1>
             <p>I am an expense for this ID = <%= expense.id %></p>
             <p>Date:</p>: <%= expense.date  %></p>
             <p>Details:  <%= expense.detail %></p>
             <p>Amount:</p>: <%= expense.amount%></p>
             <p>Type:</p>: <%= expense.type %></p>
             <p>Category:</p>: <%= expense.category%></p>
             <p>Status:</p>: <%= expense.estatus %></p>
             <a href="/expense/expense/<%= expense.id %>/update">Edit  Expense</a> | <a href="/expense/expense/<%= expense.id %>/delete">Delete Expense</a>
        </div>
    </div>
<% } else if (title == 'Expense List') { %>
    <div class="col-sm-8">    
        <div class="">
        <!--<ol>-->
        <table class="table table-hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Details</th>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Status</th>
                  </tr>
                  </thead>
                    <% expenses.forEach(function(expense) { %>
                    <tr>
                      <td><%= expense.id %></td>
                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.date %> </a></td>
                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.detail %></td>
                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.amount %></td>
                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.type %></td>
                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.category%></td>
                      <td><a href="/expense/expense/<%= expense.id %>"><%= expense.estatus%></td>
                      <% if(expense.estatus === 'pending'){ %>
                      <td><a href="/expense/expense/<%= expense.id %>/update" class="btn btn-success btn-xs">Approved</a> </td><% }; %>
                      <td><a href="/expense/expense/<%= expense.id %>/delete" class="btn btn-danger btn-xs">Delete</a></td>
                    </tr>
                  
              <% }); %>
              <!--</ol>-->
            </tbody>
        </table>
    </div>
    </div>
<% } else { %>
     
<% } %>
<!--EXPENSE VIEW END HERE-->

<!--Employee VIEW STARTS HERE -->
<% if (title == 'Create Employee') { %>
    <div class="col-sm-6">    
        <div class="w3-container w3-card-4 w3-light-grey">
            <form action="/expense/employee/create" method="post">
                <h3>Create Employee</h3>
              <label for="email">Full Name:</label><br>
              <input type="text" name="full_name" value="Employee Full Name" class="w3-input w3-border w3-round-large">
              <br>
              <label for="email">Email Address:</label><br>
              <input type="email" name="email" value="hello@manifest.com" class="w3-input w3-border w3-round-large">
              <br>
            <label for="role">Role</label><br>
            <select class="w3-input w3-border w3-round-large" id="role"  name ="role" required>
              <option value="normal">Normal</option>
              <option value="Manager">Manager</option>
            </select>
              <br>
              <input class="btn btn-primary btn-ms"  type="submit" value="Submit">
              <br>
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Employee') { %>
     
<% } else if (title == 'Update Employee') { %>
      <div class="col-sm-6">    
        <div class="w3-container w3-card-4 w3-light-grey">
            <form action="/expense/employee/<%= employee.id %>/create" method="post">
                <h3>Create Employee</h3>
              <label for="email">Full Name:</label><br>
              <input type="text" name="full_name" value="Employee Full Name" class="w3-input w3-border w3-round-large">
              <br>
              <label for="email">Email Address:</label><br>
              <input type="email" name="email" value="hello@manifest.com" class="w3-input w3-border w3-round-large">
              <br>
            <label for="role">Role</label><br>
            <select class="w3-input w3-border w3-round-large" id="role"  name ="role" required>
              <option value="normal">Normal</option>
              <option value="Manager">Manager</option>
            </select>
              <br>
              <input class="btn btn-primary btn-ms"  type="submit" value="Submit">
              <br>
            </form>
        </div>
    </div>
<% } else if (title == 'Employee Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single employee - <%= employee.full_name %> <%= employee.role %> </h1>
             <p>I am an employee for this ID = <%= employee.id %></p>
             <p>Full Name: <%= employee.full_name %></p>
             <p>Role:  <%= employee.role %></p>
             <p>Email:  <%= employee.email %></p>
             <a href="/expense/employee/<%= employee.id %>/update">Edit  Employee</a> | <a href="/expense/employee/<%= employee.id %>/delete">Delete Employee</a>
        
        <% if(employee.Expenses.length == 0) { %>
            <h2>There are no expenses by this employee yet </h2>
        <% } else { %>
            <h2>All Expenses by this Employee</h2>
            <div class="">
                <ol>
                <% employee.Expenses.forEach(function(expense) { %>
                        <li>
                            <p> 
                                <a href="/expense/expense/<%= expense.id %>"><%= expense.detail %></a>
                                 <br/>
                                <%= expense.amount %>
                                <br/> <a href="/expense/expense/<%= expense.id %>/update">Edit  Expense</a> | <a href="/expense/expense/<%= expense.id %>/delete">Delete Expense</a>
                            </p>
                        </li>
                    <br/>
                <% }); %>
                </ol>
            </div>    
         <% } %>   
        </div>
        
        <h2>Create new expense for this employee </h2>
        <!--DISPLAY CREATE FORM IN AUTHOR-->
        
        <!--YOU CAN ALSO MOVE THIS TO ANY ROUTE IF YOU WANT-->
        
        <form action="/expense/expense/create" method="post">
               Date:<br>
              <input type="date" name="date" placeholder="dd/mm/yyyy" value="date" class="w3-input w3-border w3-round-large">
              <br><br>
              Datails:<br>
              <input type="text" name="detail" placeholder="Enter Details" value="details" class="w3-input w3-border w3-round-large">
              <br>
              Amount:<br>
              <input type="text" name="amount" placeholder="0.00" value="amount" class="w3-input w3-border w3-round-large">
              <br><br>
              Type:<br>
              <select id="sel1" name="type" value="type" class="w3-input w3-border w3-round-large">
                <option value="internal">Internal</option>
                <option value="external">External</option>
                <option value="others">Other</option>
                  </select>
                  <br>
              <input type="hidden" name="employee_id" value="<%= employee.id %>">
              Category:<br>
                <div>
                     <% categories.forEach(function(category) { %>
                    <input type="checkbox" class='categoryCheckbox' name="categories" id="<%= category.id %>" value="<%= category.id %>">
                    <label for="<%= category.name %>"><%= category.name %></label>
                    
                <br/>
               <% }); %>
                 </div>
              <br>
              <input type="submit" value="Create Expense" onClick="checkCat()" class="btn btn-primary btn-ms">
             </form>
    </div>
<% } else if (title == 'Employee List') { %>
    <div class="col-sm-8">    
        <div class="">
        <ol>
        <% employees.forEach(function(employee) { %>
                <li>
                    <h4><a href="/expense/employee/<%= employee.id %>"><%= employee.full_name %></a></h4>
                    <p>The main body of the employee <%= employee.role %>, <%= employee.email %></p>
                     <a href="/expense/employee/<%= employee.id %>/update">Edit  Employee</a> | <a href="/expense/employee/<%= employee.id %>/delete">Delete Employee</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    <a href="/expense/employee/create"> CLICK HERE TO CREATE EMPLOYEE</a>
    </div>
<% } else { %>

<% } %>
<!--EMPLOYEE VIEW END HERE-->
<script>
    function checkCat() {
    var checkBoxes = document.getElementsByClassName( 'categoryCheckbox' );
    var isChecked = false;
    for (var i = 0; i < checkBoxes.length; i++) {
        if ( checkBoxes[i].checked ) {
            isChecked = true;
        };
    };
    if ( isChecked ) {
        
        } else {
            alert( 'Please, check at least one checkbox!' );
        }   
}
</script>
<!--Employee VIEW END HERE-->

<!--TYPE VIEW STARTS HERE-->
<% if (title == 'Create Type') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Type:<br>
              <input class="w3-input w3-border w3-round-large" type="text" name="type" value="type_name">
              <br><br>
              <input class="btn btn-primary btn-ms" type="submit" value="Submit">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Type') { %>
     
<% } else if (title == 'Update Type') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/expense/type/<%= type.id %>/update" method="post">
              Type:<br>
              <input class="w3-input w3-border w3-round-large" type="text" name="type" value="<%= type_name%>">
              <br><br>
              <input class="btn btn-primary btn-ms" type="submit" value="Update">
            </form>
        </div>
    </div>
<% } else if (title == 'Type Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single type</h1>
             <p>I am a type for this ID = <%= type.id %></p>
             <p>Type Name: <%= type.title %></p>
             <a href="/expense/type/<%= type.id %>/update">Edit  Type</a> | <a href="/expense/type/<%= type.id %>/delete">Delete Type</a>
        </div>
    </div>
<% } else if (title == 'Type List') { %>
    <div class="col-sm-8">    
        <div class="">
            <h2>Types</h2>
        <% types.forEach(function(type) { %>
                <li>
                    <h4><a href="/expense/type/<%= type.id %>">
                    <%= type.name %></a></h4>
                    <p>Internal</p>
                     <a href="/expense/type/<%= type.id %>/update">Edit  Type</a> | <a href="/expense/type/<%= type.id %>/delete">Delete Type</a>
                </li>
            <br/>
        <% }); %>
        <!--</ol>-->
    </div>
    </div>
<% } else { %>
    
<% } %>

<!--Type VIEW END HERE-->

<!--CATEGORY VIEW START HERE-->
<!--CATEGORY VIEW START HERE-->
<!--complete logic for category view-->
<% if (title == 'Create Category') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Category Name:<br>
              <input class="w3-input w3-border w3-round-large" type="text" name="name" value="Category Name">
              <br>
              <input class="btn btn-primary btn-xs" type="submit" value="Create Category">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Category') { %>
     
<% } else if (title == 'Update Category') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/expense/category/<%= category.id %>/update" method="post">
               Category Name:<br>
              <input class="w3-input w3-border w3-round-large" type="text" name="name" value="<%= category.name %>">
              <br>
              <input class="btn btn-primary btn-xs" type="submit" value="Update Category">
            </form>
        </div>
    </div>
<% } else if (title == 'Category Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single category - <%= category.name %></h1>
             <p>I am an category for this ID = <%= category.id %></p>
             <p>Category Name: <%= category.name %></p>
             <a href="/expense/category/<%= category.id %>/update">Edit  Category</a> | <a href="/expense/category/<%= category.id %>/delete">Delete Category</a>
        </div>
        
        <% if(category.expenses.length == 0) { %>
            <h2>There are no expenses under this category yet </h2>
        <% } else { %>
            <h2>All Expenses in this Category</h2>
            <div class="">
                <ol>
                <% categories.expenses.forEach(function(expense) { %>
                        <li>
                            <p><%= expense.detail %>
                               <%= expense.amount %>
                                <br/><a href="/expense/expense/<%= expense.id %>/update">Edit  Expense</a> | <a href="/expense/expense/<%= expense.id %>/delete">Delete Post</a>
                            </p>
                        </li>
                    <br/>
                <% }); %>
                </ol>
            </div>    
         <% } %>  
    </div>
<% } else if (title == 'Category List') { %>
    <div class="col-sm-8">    
        <div class="">
        <ol>
        <% categories.forEach(function(category) { %>
                <li>
                    <h4><a href="/expense/category/<%= category.id %>"><%= category.name %></a></h4>
                    <p>The main body of the <%= category.name %></p>
                     <a href="/expense/category/<%= category.id %>/update">Edit  Category</a> | <a href="/expense/category/<%= category.id %>/delete">Delete Category</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>

    </div>
<% } else { %>

<% } %>
<!--CATEGORY VIEW END HERE-->
<!--CATEGORY VIEW END HERE-->


<!--do this for all the routes-->
<!--This is how you will dynamically change the content on the main page-->
<!--we already know that left and right side bar are mostly constant-->


