<!-- views/partials/footer.ejs -->
<center>
<p>The links below will be removed. It is a quick way to test all the CRUD routes</p>

<!-- EXPENSE LINKS -->

<!--router.get('/expense/create', expense_controller.expense_create_get);-->
<a href="/expense/expense/create">Expense Create GET </a> | 

<!--router.post('/expense/create', expense_controller.expense_create_post);-->
<!--<a href="/expense/expense/create">Expense Create POST </a> | -->

<!--router.get('/expense/:expense_id/delete', expense_controller.expense_delete_get);-->
<!--<a href="/expense/expense/:expense_id/delete">Expense Delete GET </a> | -->

<!--router.post('/expense/:expense_id/delete', expense_controller.expense_delete_post);-->
<!--<a href="/expense/expense/:Expense_id/delete">Expense Delete POST   </a> | -->

<!--router.get('/expense/:expense_id/update', expense_controller.expense_update_get);-->
<!--<a href="/expense/expense/:expense_id/update">Expense Update GET </a> |-->

<!--router.post('/expense/:expense_id/update', expense_controller.expense_update_post);-->
<!--<a href="/expense/expense/:expense_id/update">Expense Update POST </a> |-->

<!--router.get('/expense/:expense_id', expense_controller.expense_detail);-->
<!--<a href="/expense/expense/:expense_id">Expense Detail One  </a> |-->

<!--router.get('/expenses', expense_controller.expense_list);-->
<a href="/expense/expenses">Expense Detail All </a> 

<br/>

<!-- EMPLOYEE LINK -->

<!--router.get('/employee/create', employee_controller.employee_create_get);-->
<a href="/expense/employee/create">Employee Create GET </a> | 

<!--router.post('/employee/create', employee_controller.employee_create_post);-->
<!--<a href="/expense/employee/create">Employee Create POST </a> | -->

<!--router.get('/employee/:employee_id/delete', employee_controller.employee_delete_get);-->
<!--<a href="/expense/employee/:employee_id/delete">Employee Delete GET </a> | -->

<!--router.post('/employee/:employee_id/delete', employee_controller.employee_delete_post);-->
<!--<a href="/expense/employee/:employee_id/delete">Employee Delete POST   </a> | -->

<!--router.get('/employee/:employee_id/update', employee_controller.employee_update_get);-->
<!--<a href="/expense/employee/:employee_id/update">Employee Update GET </a> |-->

<!--router.post('/employee/:employee_id/update', employee_controller.employee_update_post);-->
<!--<a href="/expense/employee/:employee_id/update">Employee Update POST </a> |-->

<!--router.get('/employee/:employee_id', employee_controller.employee_detail);-->
<!--<a href="/expense/employee/:employee_id">Employee Detail One  </a> |-->

<!--router.get('/employees', employee_controller.employee_list);-->
<a href="/expense/employees">Employee Detail All </a> 

<br/>
<!-- TYPES LINKS -->

<!--router.get('/type/create', type_controller.type_create_get);-->
<a href="/expense/type/create">Type Create GET </a> | 

<!--router.post('/type/create', type_controller.type_create_post);-->
<!--<a href="/expense/type/create">Type Create POST </a> | -->

<!--router.get('/type/:type_id/delete', type_controller.type_delete_get);-->
<!--<a href="/expense/type/:type_id/delete">Type Delete GET </a> | -->

<!--router.post('/type/:type_id/delete', type_controller.type_delete_post);-->
<!--<a href="/expense/type/:type_id/delete">Type Delete POST   </a> | -->

<!--router.get('/type/:type_id/update', type_controller.type_update_get);-->
<!--<a href="/expense/type/:type_id/update">Type Update GET </a> |-->

<!--router.post('/type/:type_id/update', type_controller.type_update_post);-->
<!--<a href="/expense/type/:type_id/update">Type Update POST </a> |-->

<!--router.get('/type/:type_id', type_controller.type_detail);-->
<!--<a href="/expense/type/:type_id">Type Detail One  </a> |-->

<!--router.get('/types', type_controller.type_list);-->
<a href="/expense/types">Type Detail All </a> 

<br/>
<!-- CATEGORY LINKS -->

<!--router.get('/category/create', category_controller.category_create_get);-->
<a href="/expense/category/create">Category Create GET </a> | 

<!--router.post('/category/create', category_controller.category_create_post);-->
<!--<a href="/expense/category/create">Category Create POST </a> | -->

<!--router.get('/category/:category_id/delete', category_controller.category_delete_get);-->
<!--<a href="/expense/category/:category_id/delete">Category Delete GET </a> | -->

<!--router.post('/category/:category_id/delete', category_controller.category_delete_post);-->
<!--<a href="/expense/category/:category_id/delete">Category Delete POST   </a> | -->

<!--router.get('/category/:category_id/update', category_controller.category_update_get);-->
<!--<a href="/expense/category/:category_id/update">Category Update GET </a> |-->

<!--router.post('/category/:category_id/update', category_controller.category_update_post);-->
<!--<a href="/expense/category/:category_id/update">Category Update POST </a> |-->

<!--router.get('/category/:category_id', category_controller.category_detail);-->
<!--<a href="/expense/category/:category_id">Category Detail One  </a> |-->

<!--router.get('/categories', category_controller.category_list);-->
<a href="/expense/categories">Category Detail All </a> 

</center>
<br/>
<p class="text-center text-muted">© Copyright 2020 Manifest & Company Inc.</p>



 







 
