<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            ExpenseTracker
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/expense/Employees">Employees</a></li>
            <li><a href="/expense/Expenses">Expenses</a></li>
            <li><a href="/expense/Types">Types</a></li>
            <li><a href="/expense/categories">Categories</a></li>
        </ul>
    </div>

</div>
</nav>