<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">LOGO</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/">HOME</a></li>
        <li id="employees"><a href="/employees">EMPLOYEES</a></li>
        <li id="expenses"><a href="/expenses">EXPENSES</a></li>
        <li id="categories"><a href="/categories">CATEGORIES</a></li>
        <li id="types"><a href="/types">TYPES</a></li>
      </ul>
    </div>
  </div>
</nav>