<div class="jumbotron">
    <h1><%= title %></h1>
    <p>Total expenses in database is <%= expenseCount.count %></p>
    <p>Total employees in database is update me in index.ejs</p>
    <p>Total types in database is update me in index.ejs</p>
    <p>Total categories in database is update me in index.ejs</p>

</div>